{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}

    {{ form_start(userForm, {'attr': {'id': 'regForm'}})}}
        <div class="tab">
            {{ form_row(userForm.firstname) }}
            {{ form_row(userForm.lastname) }}
            {{ form_row(userForm.telephone) }}
        </div>
        <div class="tab">
            {{ form_row(userForm.street) }}
            {{ form_row(userForm.house_number) }}
            {{ form_row(userForm.zip) }}
            {{ form_row(userForm.city) }}
        </div>
        <div class="tab">
            {{ form_row(userForm.owner) }}
            {{ form_row(userForm.iban) }}
        </div>
        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
    {{ form_end(userForm) }}

{% endblock %}
