{% extends 'base.html.twig' %}

{% block title %}Registration finished{% endblock %}

{% block body %}
    {% if paymentDataId == null %}
        <h3>Error, something went wrong, please try again.</h3>
    {% else %}
        <h3>Success!</h3>
        <h3>Your Payment Data Id is: {{ paymentDataId }}</h3>
    {% endif %}

{% endblock %}